:root {
    --accent: #38BDF8;
    --accent-hover: #0EA5E9;
    --shadow-sm: 0 2px 6px rgba(0,0,0,0.06);
    --shadow-md: 0 8px 20px rgba(0,0,0,0.12);
    --radius: 12px;
}

* { 
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

main {
    padding: 24px;
    border-radius: 14px;
    width: 400px;
    box-shadow: var(--shadow-sm);
    text-align: center;
}

label, select, button, p {
    display: block;
    width: 100%;
    margin-block: 12px;
    cursor: pointer;
}

select, button, p {
    padding-block: 10px;
    border-radius: var(--radius);
    border: none;
    font-size: 14px;
    box-shadow: var(--shadow-sm);
}

#btnContainer {
    display: flex;
    gap: 10px;
}

button {
    transition: all 0.3s ease;
    background: var(--accent);
    color: white;
    font-weight: 500;
}

button:hover {
    background: var(--accent-hover);
    transform: translateY(-2px) scale(1.05);
    box-shadow: var(--shadow-md);
}

#themeBtn {
    max-width: 30%;
}

p {
    font-weight: bold;
}